  <div class="row">
        <div class="col-md-6" ng-controller="WorldIndiceController as demo">
            <h3>ngTableDynamic directive</h3>
            <table ng-table-dynamic="demo.tableParams with demo.cols" class="table table-condensed table-bordered table-hover">
                <colgroup>
                    <col width="60%" />
                    <col width="20%" />
                    <col width="20%" />
                </colgroup>
                <tr class="ng-table-group" ng-repeat-start="group in $groups">
                    <td colspan="3">
                        <a href="" ng-click="group.$hideRows = !group.$hideRows">
                            <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                            <strong>{{ group.value }}</strong>
                        </a>
                    </td>
                </tr>
                <tr ng-hide="group.$hideRows" ng-repeat="user in group.data" ng-repeat-end>
                    <td ng-repeat="col in $columns">{{user[col.field]}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>